{% extends 'base.html' %}
<html>
<head>
	{% block title %}
	<title>Edit Profile</title>
	{% endblock title %}
</head>
<body>
	{% block content %}
	<div>
		<h2>Edit profile</h2>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
    			{% for field in UserForm.visible_fields %}
        			{% for error in field.errors %}
        			{{ error }}
        			{% endfor %}

			        {% if field.label != 'Password' %}
			        <p>{{ field.label_tag}}{{ field }}</p>
			        {% endif %}
        

    			{% endfor %}

			    {% for field in ProfileForm.visible_fields %}
			        {% for error in field.errors %}
			        {{ error }}
			        {% endfor %}
			        <p>{{ field.label_tag}}{{ field }}</p>

			    {% endfor %}
			    <button type="submit">Save</button>
			</form>
		</div>
{% endblock content %}
</body>
</html>