{% extends 'base.html' %}
<html>
<head>
	{% block title %}
	<title>Edit Profile</title>
	{% endblock title %}
</head>
<body>
	{% block content %}
	<div class="container">
		<h2>Edit profile</h2>
		<table>
			<form method="post">
				{% csrf_token %}
					<tr><td>{{ form.username.label }}: {{ form.username }}</td></tr>
					<tr><td>{{ form.email.label }}: {{ form.email }}</td></tr>
					<tr><td>{{ form.first_name.label }}: {{ form.first_name }}</td></tr>
					<tr><td>{{ form.last_name.label }}: {{ form.last_name }}</td></tr> 
			</form>
		</table>
		<br>
		<button type="submit" class="btn btn-outline-danger">Save</button>
	</div>
	{% endblock content %}
</body>
</html>