{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
{% block title %}
<title>Login</title>
{% endblock title %}
</head>
<body>
	{% block content %}	
	<div class="Container">
		<div class="LogPicture">
		</div>
		<div class="LogWindow">
			<form method='Post'>
				<h2>Login</h2>
				{% csrf_token %}
				<p>{{ form.as_p }}</p>
				<button type="submit">Login</button>
				<a class="ForgottingPassword" href="{% url 'accounts:reset_password' %}">Forget password?</a>
			</form>
		</div>
	</div>
	{% endblock content %}
</body>
</html>

