{% extends 'base.html' %}
{% load static %}
{% load account_tags %}
<html>
<head>
	{% block head %}
	<title>Profile</title>
	{% endblock head %}
</head>
<body>
	{% block content %}
	<br>
	<table>
    	<tr>
       		<td>
        	{% if  user.profile.avatar|has:'url' %}
            	<img src="{{ user.profile.avatar.url }}">
       		{% else %}
            	<img src="{% static 'img/avatar.png' %}">
        	{% endif %}
        	</td>
        </tr>
    </table>
	<h2> My profile </h2>
	<br>
	<p>Username: {{ user }}</p>
	<p>First name: {{ user.first_name}}</p>
	<p>Last name: {{ user.last_name}}</p>
	<p>Email: {{ user.email }}</p>
	<br>
	<button type="submit" href="{% url 'accounts:edit_profile' %}">Edit profile</button>
	{% endblock content %}
</body>
</html>