@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800');
/*###############################################################################*/
* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
a {
    color: #000;
    text-decoration: none;
    }
a:focus {
    outline: none;
	}
button {
    border: none;
    border-radius: .3em;
    padding: 12px;
    font-size: 20px;
    }
button:hover {
    background-color: #07ffba;
    color: white;
    }
/*###############################################################################*/
header {
    height: 3rem;
    width: 100%;
    background-color: rgba(250,250,250);
    box-shadow: 0 3px 5px rgba(200,200,200);
    display: flex;
    white-space: nowrap;
    position: sticky;
    top: 0;
    left: 0;
    }
.header-section {
	line-height: 3rem;
	}

#logo-container {
    text-align: left;
    font-size: 1.5em;
	}
#nav-buttons {
	margin: auto;
    text-align: center;
	}
.nav-button {
    color: rgb(0,0,0);
    margin: 0 1rem;
    font-weight: 700;
    }
#user-buttons {
    text-align:right;
	}
#header-searchbox input {
    text-align: center;
    border: none;
    border-bottom: solid rgb(200,200,200) 1px;
	border-radius: 10px;
	padding-left: 20px;
    padding-bottom: 2px;
    color: rgb(0,0,255);
	}
/*###############################################################################*/
.main-image img {
    height: 100%;
    width: 100%;
    margin-bottom: 15px;
    }
/*###############################################################################*/
.main-banner {
	background-position: top;
    background-repeat: no-repeat;
    background-image: url('/static/img/pexels-photo-1209375.jpeg');
    height: 800px;
    display: grid;
    grid-template-rows: 15% 15% 30% 1fr;
    grid-template-columns: 10% repeat(4, 1fr) 10%;
    align-items: center;
    justify-items: center;
    grid-column-gap: 10px;
	}
.main-banner a {
	height: 50px;
    width: 250px;
    line-height: 50px;
	font-size: 25px;
	text-align: center;
	background-color: #03BA87;
	color: white;
	border-radius: .3em;
	}
.main-banner a:hover {
    background-color:#07ffba;
    }
.main-banner a:nth-of-type(1) {
    grid-area: 3 / 2 / 4 / 3;
    }
.main-banner a:nth-of-type(2) {
    grid-area: 3 / 3 / 4 / 4;
    }
.main-banner a:nth-of-type(3) {
    grid-area: 3 / 4 / 4 / 5;
    }
.main-banner a:nth-of-type(4) {
    grid-area: 3 / 5 / 4 / 6;
    }
.claim {
	position: absolute;
    top: 25%;
    left: 30%;
    font-size: 80px;
    grid-area: 2 / 2 / 3 / 6;
	}
/*###############################################################################*/
.Container {
    display: grid;
    grid-template-columns: 45% 55%;
    }
.LogPicture {
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('/static/img/pexels-photo-1122418.jpeg');
    height: 800px;
    }
.LogWindow, .RegWindow {
    margin: auto;
    padding: 20px;
    position: right;
    justify-content: center;
    }
.LogWindow h2, .RegWindow h2 {
    font-size: 50px;
    height: 50px;
    margin-bottom: 10px;
    }
.LogWindow p,.RegWindow p {
    font-size: 20px;
    height: 2rem;
    line-height: 2.6rem;
    margin: 1rem auto;
    }
.LogWindow label, .RegWindow label {
    width: 10rem;
    display: inline-block;
    }
.LogWindow input, .RegWindow input {
    width: 300px;
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border: solid rgb(200,200,200) 1px;
    }
.LogWindow button, .RegWindow button {
    height: 60px;
    width: 250px;
    text-align: center;
    font-size: 30px;
    background-color: #03BA87;
    color: white;
    border-radius: .2em;
    }
.LogWindow #ForgottingPassword {
    display: inline-block;
    width: 400px;
    text-align: right;
    color: #a58006; 
    }
.LogWindow #ForgottingPassword:hover {
    font-weight:700;
    color:green;
    }
/*###############################################################################*/
.LowerContainer {
    padding: 0 100px;
    margin: 10px auto;
    }
.LowerTable {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 400px);
    grid-gap: 30px;
    margin:auto;
    }
.EventTable {
    display: grid;
    grid-template-rows: 2fr 1fr;
    white-space: nowrap;
    min-width: 200px;
    }
.EventDetails {
    padding: 1em;
    background: #eee;
    }
.EventDetails p:nth-of-type(1) {
    font-style: italic;
    }
.EventDetails p:nth-of-type(2) {
    font-weight: 600;
    font-size: 1.2em;
    }
.NotAvailable {
    width: 100%;
    height: 100%;
    margin:auto;
    background-image: url('/static/img/camera.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: solid #03BA87 2px;
    }
/*###############################################################################*/
.FilterBanner {
    background-position: top;
    background-repeat: no-repeat;
    background-image: url('/static/img/pexels-photo-302804.jpeg');
    height: 730px;
    color: white;
    }
.FilterBanner h1 {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 50px;
    }
.EventFilters {
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 500px 500px 300px 100px;
    align-content: top;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    min-height: 30px;
    }
.EventFilters .filter {
    height: 80px;
    }
.EventFilters .FormFilter:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 2
    }
.EventFilters .FormFilter:nth-of-type(3) {
    grid-area: 1 / 3 / 2 / 4
    }
.EventFilters .FormFilter:nth-of-type(2) {
    grid-area: 1 / 2 / 2 / 3
    }
.EventFilters button {
    grid-area: 1 / 4 / 2 / 5
    }
.errors {
    margin:10px;
    display: flex;
    flex-direction: column;
    }
div.errors[for="DateFrom"] {
    grid-area: 2 / 1 / 3 / 2
    }
div.errors[for="DateTo"] {
    grid-area: 2 / 2 / 3 / 3
    }
div.errors[for="Guests"] {
    grid-area: 2 / 3 / 3 / 4
    }
.error {
    margin-top:5px;
    color: #d63737;
    }
.FormFilter {
    margin:5px 15px;
    font-weight: bold;
    color:#929b98;
    }
.FilterButtonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px 20px;
    border: 20px;
    padding: 10px;
    }
.FilterButton {
    margin: 0 20px;
    padding: 15px 40px;
    font-size: 20px;
    background-color: #03BA87;
    color: white;
    border-radius: .7em;
    }
.FilterButton:hover {
    background-color: #07ffba;
    }
select {
    margin:10px 5px;
    padding: 0.5em 1.5px;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #e5fcf5 url("img/icon-select.png") no-repeat 90% 50%;
    }
/*###############################################################################*/
.Pagination {
    margin: 3em;
    display: flex;
    justify-content: center;
    }
.Pagination * {
    padding: 0.5em 1em;
    }
.PaginationNumPages {
    padding: 0;
    }
.Pagination .ActivePagination {
    background-color: #03BA87;
    }
.Pagination .InactivePagination {
    background-color: #c9c9c9;
    }
/*###############################################################################*/
.OwlCarousel {
    height: 400px;
    width: 500px;
    position: relative;
    }
.owl-nav {
    font-size: 2rem;
    }
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 3%;
    }
.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: 3%;
    }
/*###############################################################################*/
footer {
    background-color: rgba(250,250,250);
    height: 200px;
	display: flex;
    justify-content: center;
	}
footer section {
    padding: 1em 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	}
footer section * {
    align-text: center;
	}
footer section a {
    color: #4A4A4A;
    font-size: 0.8em;
    align-text: center;
	}
footer section a:hover {
    color:#000;
    }
/*###############################################################################*/
