{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% block title %}
  <title>Base</title>
  {% endblock title %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->
</head>
<body>
  {% include 'header.html' %}

  {% block content %}

  {% endblock content %}

  {% include 'footer.html' %}
</body>
</html>


 <!--     <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="http://127.0.0.1:8000/">Home</a>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
              {% if user.is_authenticated %}
                <a class="nav-link" href="/events">Events<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accounts/profile/">Profile<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accounts/profile/edit/">Edit profile<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accounts/logout">Logout<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accounts/change-password/">Change password<span class="sr-only">(current)</span></a>
              </li>
            </ul>
              {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link" href="/accounts/login">Login<span class="sr-only">(current)</span></a>
              </li>
              <li><a class="nav-link" href="/accounts/register">Register</a></li>
            </ul>
            <nav class="navbar navbar-light bg-light">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </nav>
              {% endif %}
        </nav>
      </div>-->