{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% block title %}
  <title>Base</title>
  {% endblock title %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
  {% include 'header.html' %}

  {% block content %}
  {% endblock content %}

  {% include 'footer.html' %}
</body>
</html>
