{% extends 'base.html' %}
<html>
<head>
	{% block title %}
	<title> List of events </title>
	{% endblock title %}
</head>
<body>
	{% block content %}
	<div class="container">
		<br>
		<h2> List of events </h2>
		<table style="width:100%;">
			<tr>
				<th style="
				background-color: DodgerBlue;
				color: white;
				font-size: 15px;
				"> Name of the event </th>
				
				<th style="
				background-color: DodgerBlue;
				color: white;
				font-size: 15px;
				"> Description </th>
			</tr>
			{% for event in events %}
			<tr>
			    <td style="
			    	color: solid black;
			    	font-size: 15px;
			    	">{{event.name }}</th>
				
				<td  style="
			    	font-family: arial;
			    	color: Gray;
			    	font-size: 15px;
			    	">{{event.description}}</th>
			</tr>
			{% endfor %}
		</table>
	{% endblock content %}
</body>
</html>