{% extends 'base.html' %}
<html>
<head>
	{% block title %}
	<title> Dates of events </title>
	{% endblock title %}
</head>
<body>
	{% block content %}
	<div class="container">
		<br>
		<h2> {{ event.name }}</h2>
		<table>
			<tr>
				<th>{{ event.host }}</th><th>{{ event.location }}</th><th>{{ event.category }}</th>
			</tr>
		</table>
		<p>{{ event.description }}</p>
		<br>
		<a href='/events/'> Back</a> | <a href='/events/{{ event.id }}/newRun/'>Add new Run</a>
	{% endblock content %}
</body>
</html>
