{% extends 'base.html' %}
<html>
<head>
	{% block title %}
	<title> List of events </title>
	{% endblock title %}
</head>
<body>
	{% block content %}
	<div class="container">
		<br>
		<h2> List of events </h2>
		<table style="width:100%;">
			<tr>
				<th style="
					background-color: DodgerBlue;
					color: white;
					font-size: 15px;
					">Name
				</th>
				<th style="
					background-color: DodgerBlue;
					color: white;
					font-size: 15px;
					">Description
				</th>
				<th style="
					background-color: DodgerBlue;
					color: white;
					font-size: 15px;
					">Update
				</th>
			</tr>
			{% for event in events %}
			<tr>
				<td style="
					color: solid black;
					font-size: 15px;
					"><a class="btn btn-outline-primary" data-toggle="collapse" href="/events/detail/{{ event.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">{{ event.name }}</a>
				</td>
				<td style="
				    color: Gray;
					font-size: 15px;
					">{{ event.description }}
				</td>
				<td><a href="/events/update/{{ event.id }}" class="btn btn-outline-primary" role="button" aria-pressed="true">Update</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endblock content %}
</body>
</html>
