{% extends 'base.html' %}

<html>
<head>
{% block title%}
<title>Main page</title>
{% endblock title %}
</head>

<body>
{% block content %}

	<h2>Main page</h2>
	
	<ul>
	  <li><a href="http://127.0.0.1:8000/">Home</a></li>
	  <li><a href="/events">Events</a></li>
	  <li><a href="/runs">Runs</a></li>
	  <li><a href="/accounts/login">Login</a></li>
	</ul>
	
	<div style="background-color:LightGray;color:Gray;padding:10px;font-family: arial">
	<p># This is the first version, how could the navigation menu looks like</p>
	</div>
{% endblock content %}

</body>
</html>
