{% load UrlTags %}

<div class="Pagination">
    <span class="step-links">
        <!-- first page need no left arrow -->
        {% if page.has_previous %} 
            <a href="{% next_page page.previous_apge_number %}">&laquo;</a>
        {% endif %}

        <span class="PaginationNumPages">
        {% for page_num in page.paginator.page_range %}
            {% if page_num == page.number %}
                <a class="ActivePagination" href="#">{{ page_num }}</a>
            {% else %}
                <a class="InactivePagination" href="{% next_page page_num %}">{{ page_num }}</a>
            {% endif %}
        {% endfor %}
        </span>

        {% if page.has_next %}
            <a href="{% next_page page.next_page_number %}">&raquo;</a>
        {% endif %}
    </span>
</div>