<!DOCTYPE html>
<html>
<head>
    {% block title %}

    {% endblock title %}
    
</head>
<body>
    <h1>EVENTS</h1>
    <div>
        <a href="/events/">EVENTS</a>
        
        {% if user.is_authenticated %}

        <a href="/accounts/profile/">PROFILE</a>
        <a href="/accounts/logout/">LOG OUT</a>
        <p>{{ user.username }}</p>

        {% else %}

        <a href="/accounts/login/">LOG IN</a>

        {% endif %}
    </div>

    {% block content %}
    
    {% endblock content %}
</body>
</html>