{% extends 'base.html' %}
<html>
<head>
	{% block title %}
	<title> List of events </title>
	{% endblock title %}
</head>
<body>
	{% block content %}
	<div class="container">
		<br>
		<h2> List of events </h2>
		<table style="width:100%;
				text-align: center;">
			<tr>
				<th>Name</th><th>Location</th>
			</tr>
			{% for event in events %}
			<tr>
				<td><a href="{% url 'events:detail' event.id %}">{{ event.name }}</a></td>
				<td> {{ event.location}}</td>
	            <td><a href="{% url 'events:update_event' event.id %}">Update</a></td>
	        </tr>
			{% endfor %}
		</table>
	</div>
	{% endblock content %}
</body>
</html>
