{% extends 'base.html' %}
{% load EventTags %}}
<html>
<head>
	{% block title %}
	<title> List of events </title>
	{% endblock title %}
</head>
<body>
	{% block content %}
	<div class="FilterBanner">
		<h1>Let's take a look around</h1>		
	</div>

	<form class="EventFilters"  method="GET">
		{% for hidden_field in form.hidden_fields %}
			{{ hidden_field }}
		{% endfor %}

    	{% for field in FilterForm.visible_fields %}
    		<div class="FormFilter">
    			{{ field.label_tag }} {{ field }}
    				<div class="errors">
	        	    	{% for error in field.errors %}
	            		<div class="error">
	            			{{ error }}
	            		</div>
	                	{% endfor %}
	            	</div>
	            </i>
        	</div>
        {% endfor %}
    	<button type="submit">Filter</button>
	</form>
	
	<div class="FilterButtonGroup">
		<a class="FilterButton" href="{% url 'events:events_by_category' 'fun' %}">Fun</a>
	    <a class="FilterButton" href="{% url 'events:events_by_category' 'experience' %}">Experience</a>
	    <a class="FilterButton" href="{% url 'events:events_by_category' 'sights' %}">Sights</a>
	    <a class="FilterButton" href="{% url 'events:events_by_category' 'relax' %}">Relax</a>
	</div>

	<div class="LowerContainer">
		{% if events %}
		<div class="LowerTable">
			{% for event in events %}
			<a class="EventTable" href="{% url 'events:event_detail' event.id %}">
				<div class="NotAvailable"></div>
				<div class="EventDetails">
					<p>{{ event.host }}</p>
					<p>{{ event.name }}</p>
					<p>{{ event.location }}</p>
					<p><strong>Start:</strong> {{ event.eventrun_set.all|active|min_attr_value:"date" }}</p>
    				<p><strong>Price:</strong> {{ event.eventrun_set.all|active|min_attr_value:"price" }}</p>
				</div>
			</a>
			{% endfor %}
		{% else %}
			<div class="info empty-search">No events found ...</div>
    	{% endif %}
    	</div>
    </div>
    {% endblock content %}
</body>
</html>
