{% extends 'base.html' %}
<html>
<head>
	{% block title %}
	<title>My events</title>
	{% endblock title %}
</head>
<body>
	{% block content %}
	<div class="container">
		<br>
		<h2>My events</h2>
		<a class="btn btn-outline-primary" data-toggle="collapse" href="/events/new/" role="button" aria-expanded="false" aria-controls="collapseExample">Add your Event</a><br>
		<br>
		<table style='text-align: left;'>
			<tr>
				<th style="
					background-color: DodgerBlue;
					color: white;
					font-size: 15px;
					">Name
				</th>
				<th style="
					background-color: DodgerBlue;
					color: white;
					font-size: 15px;
					">Location
				</th>
				<!-- Jenom abych srovnal hlavicku s nasledujicimi radky -->
				<th style="
					background-color: DodgerBlue;
					color: white;
					font-size: 15px;
					">
				</th>
				<th style="
					background-color: DodgerBlue;
					color: white;
					font-size: 15px;
					">
				</th>
			</tr>
			{% for event in events %}
			<tr>
				<td><a href="/events/detail/{{ event.slug }}">{{ event.name }}</a></td>
				<td>{{ event.location }}</td>
				<td><a href="/events/update/{{ event.slug }}">Update</a></td>
				<td><a href="/events/delete/{{ event.id }}">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endblock content %}
</body>
</html>


